<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398152368850-o822p1ea53vcr98ujnprs5c7sq5ed4sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398152368850-o822p1ea53vcr98ujnprs5c7sq5ed4sc</string>
	<key>API_KEY</key>
	<string>AIzaSyD8ywoKAg-6pJ33mK8ND2ikVhD3In1wx9I</string>
	<key>GCM_SENDER_ID</key>
	<string>398152368850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.gharelu</string>
	<key>PROJECT_ID</key>
	<string>ghareluapp-np</string>
	<key>STORAGE_BUCKET</key>
	<string>ghareluapp-np.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398152368850:ios:e36d18ea25545ac22ba30b</string>
</dict>
</plist>